.main {
  display: flex;
  margin: 1rem 0;
  gap: 2rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.reviewPic {
  max-width: 50px;
  width: 100%;
  max-height: 50px;
  border-radius: 500px;
  overflow: hidden;
  background-color: red;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewInfo h5 {
  font-size: 1.5rem;
  font-weight: 300 !important;
}

.reviewRating {
  font-size: 2rem;
  color: #593cfa;
}
