.smallerScreen {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .largerScreen {
    display: none;
  }
  .smallerScreen {
    display: flex !important;
    width: 100%;
    padding: 3rem;
  }
}
