.main {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem;
  /* overflow: scroll;
  height: 620px; */
  padding-top: 7rem;
  padding-right: 0rem;
  /* min-height: 90vh; */
  background-color: white;
  /* justify-content: flex-start; */

  /* flex: 2; */
}

.show {
  width: 100%;
  display: flex;
}

.spinner {
  margin-top: 5rem;
}

.nothingBox {
  background-color: rgb(250, 250, 250);
  margin: auto;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.092);
}

@media screen and (min-width: 1025px) {
  .main {
    /* width: 66%; */
    display: flex;
    /* padding-right: 2rem; */
    padding-top: 14rem;
  }
}
