.main {
  display: none;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 1rem;
  /* overflow: scroll;
  height: 620px; */
  padding-top: 7rem;
  padding-right: 0rem;
  /* min-height: 90vh; */
  background-color: white;
  /* justify-content: flex-start; */

  /* flex: 2; */
}

.show {
  width: 100%;
  display: flex;
}

.spinner {
  margin-top: 5rem;
}

@media screen and (min-width: 1025px) {
  .main {
    /* width: 66%; */
    display: flex;
    /* padding-right: 2rem; */
    padding-top: 14rem;
  }
}
