.landing {
  padding-top: 4rem;
  position: relative;
  /* background-image: url(//resources.turo.com/f/81934/1984x800/b94cbaa7c9/992-can-2x.jpg); */
}

.background {
  height: 400px;
}

.background img {
  /* transform: translateY(10px); */
  z-index: -4;
}
