.main {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.box {
  /* background-color: #fbf9f5; */
  width: 800px;
  margin: auto;
  display: flex;
  position: relative;
  z-index: 2;
  /* clip-path: ellipse(130px 140px at 10% 20%); */
  /* justify-content: space-around; */
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #fbf9f5;
  border-radius: 90% 1130px 90% 1150px;
  /* -webkit-clip-path: ellipse(50% 40% at 49% 49%);
  clip-path: ellipse(50% 40% at 49% 49%); */
  /* clip-path: ellipse(130px 140px at 10% 20%); */
}

.image {
  border-radius: 500px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  /* flex: 1; */
}

.image img {
  opacity: 0.8;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  /* flex: 1; */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
}

.text h4 {
  font-weight: 400;
  line-height: 2.2rem;
}

.text h2 {
  margin-bottom: 1.5rem;
  color: #593cfa;
}
