.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 250px; */
  width: 100%;
}

.main h1 {
  font-size: 5rem;
  width: 40%;
  box-shadow: inset 0rem -2rem 0px #f1e9fe;
}

.title {
  /* color: green; */
}

.main h3 {
  padding: 2rem;
  width: 60%;
  background: transparent;
  font-size: 1.6rem;
  font-weight: 300;
}

.main button {
  margin: 2rem;
}
