.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  /* background-color: #e8d4cb; */
}

.main h3 {
  box-shadow: inset 0rem -2rem 0px #f1e9fe;
  padding: 1rem;
  width: 60%;
  background: transparent;
  /* color: red; */
  /* border: solid 1px black; */
}
