.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 250px; */
  width: 100%;
}

.main h3 {
  box-shadow: inset 0rem -3rem 0px #f1e9fe;
  padding: 2rem;
  width: 60%;
  background: transparent;
  font-size: 2.6rem;
}

.purpleBox {
  box-shadow: inset 0rem -3rem 0px #f1e9fe;
  padding: 1rem;
  width: 60%;
  background: transparent;
  height: 1rem;
}

.main button {
  margin: 2rem;
}
@media screen and (max-width: 768px) {
  .main {
  }
  .main h3 {
    font-size: 1.5rem;
    width: 80%;
  }
}
