.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.main h3 {
  box-shadow: inset 0rem -3rem 0px #f1e9fe;
  padding: 2rem;
  width: 60%;
  background: transparent;
  font-size: 1.8rem;
}
