.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.row div {
  width: 100%;
}
.row select {
  width: 100%;
}

.checkBoxes {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.container div {
  width: 30%;
}
.container label {
  font-size: 1.6rem;
}
