.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel {
  margin: 0 !important;
}
.carouselWindow {
  /* background-color: black; */
  /* max-width: 500px; */
}

.button {
  align-self: flex-start;
  padding: 0.7rem 3rem;
}
.next {
  align-self: flex-start;
  padding: 0.7rem 3rem;
  background-color: white;
  color: black;
  border: 1px solid grey;
}
.next:hover {
  background-color: rgb(240, 240, 240);
}
.next * {
  font-size: 1.6rem !important;
}
