.main {
}

.main h2 {
  font-size: 4rem;
}

.form {
  width: 100%;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.pageContainer {
  max-width: 650px;
  padding-top: 8rem;
  margin: auto;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  margin-bottom: 4rem;
}

.button {
  padding: 0.7rem 3rem;
}

.subtitle {
  color: grey;
  display: none;
}

@media screen and (max-width: 1024px) {
  .subtitle {
    display: block;
  }
  .form {
    border-bottom: 0;
  }
  .pageContainer {
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .pageContainer {
    padding: 2rem;
    padding-top: 6rem;
  }
}
