.main {
}

.main h2 {
  font-size: 4rem;
  /* margin: 3rem 0; */
}

.form {
  /* background-color: rgba(127, 255, 212, 0.185); */

  width: 100%;

  /* min-height: 30rem; */

  border-bottom: 1px solid rgb(221, 221, 221);
  /* margin-bottom: 4rem; */

  /* border-top: 1px solid rgb(221, 221, 221); */
}

.pageContainer {
  max-width: 650px;
  padding-top: 8rem;
  margin: auto;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  /* padding-bottom: 4rem; */
}

.button {
  padding: 0.7rem 3rem;
}

.subtitle {
  color: grey;
  display: none;
}

@media screen and (max-width: 1024px) {
  .subtitle {
    display: block;
  }
  .form {
    border-bottom: 0;
  }
  .pageContainer {
    gap: 1rem;
  }
}
