.main {
  overflow: hidden;
}

.mainBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top: 1px solid rgb(221, 221, 221);
  z-index: 10;
}

.mainBarLeft {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  cursor: pointer;
}

.purple {
  color: #593cfa;
  cursor: pointer;
}

.purple:hover {
  text-decoration: underline;
}

.icon {
  transition: all ease 0.2s;
}

.openIcon {
  transform: rotate(180deg);
}
.content {
  transition: all ease 0.3s;
  height: 0px;
  z-index: 1;
  opacity: 0;
}

.openContent {
  opacity: 1;
  /* height: 480px; */
  /* background-color: grey; */

  transition: all ease 0.3s;
}

@media screen and (max-width: 1024px) {
  .mobileHidden {
    display: none;
  }
  .icon {
    display: none;
  }
  .mainBar {
    border-top: 0;
  }
}
