.banner {
  padding-top: 6rem;
  height: 265px;
  /* background-color: red; */
  border-bottom: solid rgb(224, 224, 224) 1px;
}

.bannerImg {
  width: 100%;
}

.pageContent {
  position: relative;
  max-width: 1000px;
  width: 100%;
  border: 2px dashed red;
  gap: 3rem;
  margin: auto;
  padding: 3rem;
  padding-top: 9rem;
  display: grid;
  grid-row: 2 / span 5;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "title about" "veri about" "lang about";
}

.titleContent {
  grid-area: title;
}

.verified {
  grid-area: veri;
}

.lang {
  grid-area: lang;
}

.works {
  grid-area: works;
}

.school {
  grid-area: school;
}

.stats {
  grid-area: stats;
}

.about {
  grid-area: about;
}

.products {
  grid-area: about;
}

.reviews {
  grid-area: about;
}

.hostImage {
  background-color: white;
  border-radius: 500px;
  padding: 1rem;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-50%);
}
