.banner {
  padding-top: 6rem;
  height: 265px;
  /* background-color: red; */
  border-bottom: solid rgb(224, 224, 224) 1px;
}

.bannerImg {
  width: 100%;
}

.pageContent {
  position: relative;
  max-width: 1000px;
  width: 100%;
  /* border: 2px dashed red; */
  gap: 12rem;
  margin: auto;
  padding: 3rem;
  padding-top: 9rem;
  display: flex;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
  width: 100%;
}

.left {
  flex: 2;
  /* background-color: greenyellow; */
}

.right {
  flex: 3;
  /* background-color: red; */
}

/* .titleContent {
  grid-area: title;
}

.verified {
  grid-area: veri;
}

.lang {
  grid-area: lang;
}

.works {
  grid-area: works;
}

.school {
  grid-area: school;
}

.stats {
  grid-area: stats;
}

.about {
  grid-area: about;
}

.products {
  grid-area: about;
}

.reviews {
  grid-area: about;
} */

.hostImage {
  background-color: white;
  border-radius: 500px;
  padding: 1rem;
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 20px;
  transform: translateY(-50%);
}

.modifyButtons {
  position: absolute;
  top: 0;
  right: 40px;
  transform: translateY(-150%);
  display: flex;
  gap: 1rem;
}

.editButton {
  padding: 0.4rem 1.2rem;
  border-radius: 10px;
}

.editButton * {
  font-size: 1.3rem !important;
}
.carousel {
  margin: 0 !important;
}

.modifyBox {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pageContent {
    flex-direction: column;
    max-width: 700px;
    margin: auto;
    gap: 2rem;
  }
  .titleBox {
    text-align: center;
  }
  .hostImage {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
