.spinner {
  display: inline-block;

  /* width: 80px;
  height: 80px;
  margin: 5rem; */
}
.spinner:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  /* margin: 8px auto; */
  border-radius: 50%;
  border: 2px solid white;
  border-color: white transparent white transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.dark:after {
  content: " ";
  display: block;
  width: 35px;
  height: 35px;
  /* margin: 8px auto; */
  border-radius: 50%;
  border: 2px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.main {
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
