.nav {
  width: 100%;
  padding: 0.8rem 1.8rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  gap: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.116);
}

.navLeft {
  display: flex;
  align-items: center;
}

.searchBox {
  margin-left: 2rem;
  border-bottom: 1px solid rgb(199, 199, 199);
  font-size: 1.5rem;
  color: rgb(200, 200, 200);
  display: flex;
  align-items: center;
}

.input {
  border: none;
  padding: 0.6rem 1rem;
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.navItems {
  display: flex;
  align-items: center;
}

.navItems li {
  /* background-color: aliceblue; */
  padding: 0.8rem 1.2rem;

  list-style: none;
  cursor: pointer;
  position: relative;
}

.navItems svg {
  /* position: absolute;
  transform: translate(0%, -0%);
  top: 0;
  left: 0;
  width: 30px; */
}

.navItems li:nth-child(1) {
  border: 1px solid black;
}

.navItems li:nth-child(5) {
  /* border: 1px solid black; */
  width: 4rem;
}

.logo {
  padding: 0.4rem 1.4rem;
  padding-right: 0.4rem;
  background-color: #593cfa;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px black;
  color: white;
  border-radius: 5px 20px 5px 10px;
  cursor: pointer;
}

.logo h4 {
  font-size: 2rem;
  padding-right: 1rem;
  /* letter-spacing: 0.5rem; */
}

@media screen and (max-width: 768px) {
  .navItems li:nth-child(1) {
    display: none;
  }
}
