.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  padding: 0.8rem;
  border: 1px solid rgb(205, 205, 205);
  font-size: 1.2rem;
  border-radius: 0;
  width: 30%;
}

.select:focus {
  border: 1px solid #593cf9;
  outline: none;
}
