.slide {
  height: 400px;
  max-width: 1000px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imageContainer {
  max-width: 350px;
  width: 100%;
  height: 350px;
  border-radius: 1150px 1000px 830px 750px;
  justify-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #f0e8ff;
  box-shadow: -40px 20px #f0e8ff;
}

.imageContainer img {
  width: 100%;
  transform: scale(1);
  border-radius: 90% 800px 100% 950px;
}

.textContainer {
  width: 100%;
  max-width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.highlight {
  color: #593cf9;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .slide {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    height: auto;
    align-items: center;
  }
  .textContainer {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
}
