.window {
  width: 90000px;
  /* background-color: rgba(0, 255, 255, 0.486); */
  /* margin: 1rem; */
  display: flex;
  transition: all ease 0.5s;

  /* justify-content: space-between; */
}
.noAnimate {
  transition: none;
}
