.sectionContainer {
  margin: 5rem 1rem;
}

.title {
  padding: 1rem;
}

.empty {
  padding: 1.5rem;
}

.windowContainer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.next {
  position: absolute;
  right: 12vw;
  top: 50%;
}

.prev {
  position: absolute;
  left: 12vw;
  top: 50%;
}
