.main {
  max-width: 100%;
}

.main h2 {
  font-size: 400%;
}

.imageContainer {
  height: 90vh;
}

.pageContent {
  max-width: 1000px;
  margin: auto;
  /* background-color: lavender; */
  padding: 8rem 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "header booking" "features booking" "host booking" "description booking" "reviews booking";
  /* grid-template-areas: "header" "booking" "features" "host" "description" "reviews";
  grid-template-columns: 1fr; */
}

.header {
  grid-area: header;
  width: 100%;
}

.booking {
  grid-area: booking;
}

.features {
  grid-area: features;
}

.host {
  grid-area: host;
}

.description {
  grid-area: description;
}

.reviews {
  grid-area: reviews;
}

.pageContent h4 {
  font-weight: 300;
}

.pageContent h5 {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .pageContent {
    max-width: 700px;
    grid-template-areas: "header" "booking" "features" "host" "description" "reviews";
    grid-template-columns: 1fr;
    padding: 4rem 1rem;
  }
}
