.main {
  background-color: #593cfa;
  border-radius: 1000px;
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 2rem;
  color: white;
}
