@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 8rem;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 0.3rem;
}
h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 700;

}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;

}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
}
