.button {
  padding: 1.5rem;
  background-color: #593cfa;
  border: none;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

.button p {
  font-weight: 500;
  font-size: 1.8rem;
}

.alt {
  padding: 0.7rem 3rem;
  background-color: white;
  color: black;
  border: 1px solid grey;
}
.alt:hover {
  background-color: rgb(240, 240, 240);
}
.alt * {
  font-size: 1.6rem !important;
}
