.main {
  position: relative;

  /* margin-right: 1rem; */
}

.button {
  padding: 1rem 1.5rem;
  border: 1px solid rgb(220, 220, 220);
  cursor: pointer;
  background-color: transparent;
  transition: all ease 0.5s;
  border-radius: 3px;
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
}

.child {
  margin-right: 1rem;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(234, 234, 234);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.276);
  padding: 1rem;
  bottom: -1.5rem;
  left: 0;
  transform: translate(0, 100%);
  z-index: 200;
  padding: 2rem;
}

.button:hover {
  background-color: rgb(204, 204, 204);
}
