.main {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: 3rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
}

.main:hover {
  background-color: rgb(240, 240, 240);
}

.menu {
  width: 20px;
  font-size: 2rem;
  color: grey;
}

.open {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(225, 225, 225);
}

.userContainer {
  border: 2px solid rgb(183, 183, 183);
  border-radius: 500px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.userIcon {
  font-size: 2rem;
  color: rgb(132, 132, 132);
}
